---
import IconLink from "@components/Base/IconLink.astro";
import Icon from "@components/Icon/Icon.astro";
---
<section id="use-tech">
    <h2 class="title">Use</h2>
    <h3>Development</h3>
    <div class="card-container">
        <IconLink text="Python" icon_bg="rgba(0, 122, 204, 0.1)">
            <Icon name="Python"/>
        </IconLink>
        <IconLink text="TypeScript" icon_bg="rgba(0, 122, 204, 0.1)">
            <Icon name="TypeScript"/>
        </IconLink>
        <IconLink href="Java" text="Java" icon_bg="rgba(221, 75, 37, 0.1)">
            <Icon name="Java"/>
        </IconLink>
        <IconLink text="Android" icon_bg="rgba(33, 150, 243, 0.1)">
            <Icon name="Android"/>
        </IconLink>
        <IconLink text="Linux" icon_bg="rgba(244, 222, 81, 0.2)">
            <Icon name="Linux"/>
        </IconLink>
    </div>
    <h3>Tools</h3>
    <div class="card-container">
        <IconLink text="VS Code" icon_bg="rgba(0, 122, 204, 0.1)">
            <Icon name="VsCode" />
        </IconLink>
        <IconLink text="Docker" icon_bg="rgba(0, 122, 204, 0.1)">
            <Icon name="Docker"/>
        </IconLink>
        <IconLink text="Github" href="https://github.com/DORAKIKA">
            <Icon name="Github"/>
        </IconLink>
    </div>
</section>


<style>
    
.card-container{
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}
</style>